<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="boom-button">
         <button @click = "boomClick">{{ boomValue }}</button>
    </div>

    <script>
        var boomButton = new Vue({
            el: '#boom-button',
            data: {
               boomValue: '-',
               hideValue: '*', 
            },
            methods: {
                boomClick:function(){
                    if(this.hideValue == '-')return ;
                    this.boomValue = this.hideValue;
                }
            },
            computed: {
                
            },

        });
    </script>
</body>
</html>